<div class="modal-header">
  <div class="picture-meta">
    <strong>File name :</strong> <%= @picture.file.blob.filename %> -
    <strong>File type :</strong> <%= @picture.file.blob.content_type %>
  </div>
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>
<div class="modal-body" style="background-image: url('<%= url_for(@picture.file)%>')">
</div>