<%= form_for @picture do |f| %>
  <div class="field">
    <%= f.label :file %> <br>
    <%= f.file_field :file %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <%= f.submit :submit, class: 'btn btn-success' %>
<% end %>
