<div class="pictures-wrapper">
  <h1>Welcome to PicsUp</h1>
  <% unless @pictures.blank? %>
    <div class="picture-container">
      <% Picture.order("RANDOM()").limit(3).each do |picture| %>
        <div class="picture-card">
          <%= link_to big_picture_picture_path(picture, format: :js), :remote => true , data: {'toggle' =>  "modal", 'target' => '#modal-window'} do %>
            <div class="picture" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= url_for(picture.file)%>')">
          </div>
          <% end %>
          
          <div class="description">
            <%= "Description : #{picture.description}" %>
          </div>
      </div>
      <% end %>
    </div>
  <% end %>

  <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
  </div>
</div>