<div class="pictures-wrapper">
    <h1>Hi <%= current_user.name %> ! Here is you're picture list ! </h1>
    <div class="picture-container">
      <% @pictures.each do |picture| %>
      <div class="picture-card">
        <div class="actions">
          <%= link_to picture_path(picture) do %>
            <i class="far fa-eye"></i>
          <% end %>
          <%= link_to picture_path(picture), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </div>
        <%= link_to big_picture_picture_path(picture, format: :js), :remote => true , data: {'toggle' =>  "modal", 'target' => '#modal-window'} do %>
          <div class="picture" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= url_for(picture.file)%>')">
        </div>
        <% end %>
        
        <div class="description">
          <%= "Description : #{picture.description}" %>
        </div>
    </div>
      <% end %>
    </div>
<%= link_to 'Add picture', new_picture_path, class: "btn btn-info" %>
</div>
  


<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
</div>