<div class="picture-big">
  <div class="actions">
    <%= link_to pictures_path, class: 'btn btn-info' do %>
    <i class="fas fa-arrow-left"></i> Return to picture list
  <% end %>
  <%= link_to 'Edit picture', edit_picture_path(@picture), class: 'btn btn-success' %>
  </div>
  <div class="image">
    <%= image_tag(@picture.file) %>
  </div>
  <div class="description">
    <strong>Description</strong> : <%= @picture.description %>
  </div>
</div>