.log-form-container {
    display: flex;
    justify-content: center;
    padding: 40px;
    
    .log-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
      padding: 10px;
      width: 35vw;
      .field {
        padding-top: 30px;
        padding-bottom: 30px;
        input {
          border: none;
          border-bottom: 1px solid black;
        }
        *:focus {
          outline: none;
        }
        label {
          font-weight: bolder;
        }
      }
  
      .actions {
        padding-bottom: 40px;
      }
    }
}

.edit_user {
  padding: 20px;
  .field {
    padding-top: 30px;
    padding-bottom: 30px;
    input {
      border: none;
      border-bottom: 1px solid black;
    }
    *:focus {
      outline: none;
    }
    label {
      font-weight: bolder;
    }
  }
}