.navbar {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    background: #3581B8;
    .fa-home {
      text-decoration: none;
      color: #F3F8F2;
      padding: 0 10px 0 10px;
      transition: all ease 0.3s;
      &:hover {
        color: grey;
      }
    }
    .navbar-item {
      text-decoration: none;
      color: #F3F8F2;
      padding: 0 10px 0 10px;
      transition: all ease 0.3s;
      &:hover {
        color: grey;
      }
    }
}