@media (min-width: 576px) {
    .modal-dialog {
        max-width: 800px;
        margin: 1.75rem auto;
    }
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
  }
  .modal-body {
    background-size: cover;
  }
  
  .modal-content {
    height: 80vh;
  }