// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.picture-big {
  padding: 30px;
  .actions {
    display: flex;
    justify-content: space-between;
    width: 50vw;
  }
  .image {
    margin: 10px 0 10px 0;
    img {
      width: 50vw;
    }
  }

  .description {
    font-size: 30px;
  }
}

.pictures-wrapper {
  padding: 20px;
  h1 {
    text-align: center;
  }
}
.picture-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: flex-between;
  margin-bottom: 20px;
  .picture-card {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 5px;
    margin: 10px 15px 10px 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    .picture {
      background-size: cover;
      height: 200px;
      transition: all ease 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
    .description {
      padding: 5px;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      .fa:hover {
        color: black;
        transition: all ease 0.3s;
      }
    }
    border-radius: 5px;
  }
}