.picture-form-container {
    display: flex;
    justify-content: flex-start;
    padding: 40px;
    
    .picture-form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 5px;
      padding: 10px;
      width: 35vw;
      .field {
        padding-top: 30px;
        padding-bottom: 30px;
        
        *:focus {
          outline: none;
        }
        label {
            font-weight: bolder;
        }
      }
  
      .actions {
        padding-bottom: 40px;
      }
    }
}
