<div class="navbar">
  <div class="home">
    <%= link_to root_path do %>
      <i class="fas fa-home"></i>
    <% end %>
  </div>
  <div class="log-items">
    <% if user_signed_in? %>
    <%= link_to 'Edit account', edit_user_registration_path, class: "navbar-item" %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "navbar-item") %> 
    <% else %>
      <%= link_to('Login', new_user_session_path, class: "navbar-item") %> 
    <% end %>
  </div>
</div>